<div class="side-bar-header">
  <div class="header-name">
    <%=link_to current_user.name, edit_user_path(current_user)%>
  </div>
  <div class="create-room">
    <a href="#">チャットを作成する</a>
  </div>
</div>

<div class="rooms">
 <div class="room">
  <div class="room-name">
   <a herf="#">singori1</a>
  </div>
 </div>
 <div class="room">
  <div class="room-name">
   <a heff="#">singori2</a>
  </div>
 </div>
</div>